.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: $gallery;
  box-shadow: 0 0 20px 1px $lightGray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  &__box {
    z-index: 99;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
