.nav {
  //&--active {
  //  transform: translateX(0);
  //}

  &__items {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  &__item {
    &:nth-child(n + 2) {
      margin: 0 0 0 20px;
    }
  }
  &__text {
    @media #{$phone} {
      display: none;
    }
  }
}
