/*
  Main file project for scss
*/

/*
  * All variables are in the file -> vars.scss
  * Project Initial Settings. Reset Default Styles -> app.scss
  * Canvas style settings for pages and blocks -> wrap.scss
  * Typography of the entire project -> typography.scss
*/
@import 'settings/vars';
@import 'settings/app';
@import 'settings/wrap';
@import 'settings/typography';

// Section site header and site navigation menu
@import 'header/header';
@import 'header/nav';

// Section footer
@import 'footer/footer';

// Independent class - links -> links.scss
@import 'links/links';
@import 'icon/icon';

// Components
@import 'preview/preview';
@import 'interview/interview';
