.preview {
  position: relative;
  padding: 30px 0 10px;

  &__items {
    background-color: $black;
    border-radius: 8px;
    box-shadow: 10px 10px 20px $lightGray;
    display: flex;
    color: $white;
  }
  &__item {
    flex: 1 1 100%;
    padding: 15px 10px;
  }
  &__headline {
    font-size: 36px;
  }
  &__subheading {
    font-size: 16px;
    margin: 10px 0 0;
  }
  &__button {
    margin: 10px 0 0;
    border: 1px solid $white;
    border-radius: 6px;
    color: $white;
    width: 240px;
    height: 30px;

    &:disabled {
      color: $lightGray;
      background-color: $gray;
      cursor: no-drop;
    }
  }
}
