* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
  font-style: normal;
}

html, body {
  margin: 0;
}

button {
  border: none;
  background-color: $transparent;

  &:active,
  &:focus {
    outline: none;
  }
}

input {
  outline: none;
}

ul {
  margin: 0;
}

ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
