/*
 Example: @extend .class;
 */

.typography {

  &--heading {
    font-size: 32px;
    font-weight: bold;

    @media #{$only-tablet} {
      font-size: 24px;
    }
    @media #{$phone} {
      font-size: 18px;
    }
  }
  &--paragraph {
    font-size: 18px;

    @media #{$only-tablet} {
      font-size: 16px;
    }
    @media #{$phone} {
      font-size: 14px;
    }
  }
}
