/*
 * Variables from project

 * Use media : @media #{var}

 * Use color : background: $black
*/

// Color
$transparent: transparent;
$black: #000;
$white: #fff;
$champagne: #fae5d3;
$dustyGray: #999999;
$lightGray: #9e9e9e;
$gallery: #f0f0f0;
$gray: #808080;
$lemonChiffon: #FFFACD;


// Media
$phone: '(max-width: 767px)';
$phone-min: '(min-width: 320px)';
$tablet: '(max-width: 1199px)';
$tablet-min: '(min-width: 768px)';
$desktop: '(min-width: 1200px)';
$only-tablet: '(max-width: 1199px) and (min-width: 768px)';
$only-desktop: '(min-width: 1200px)';
$not-phone: '(min-width: 768px)';
