.page {

  &__wrap {
    max-width: 1180px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;

    @media #{$tablet} {
      margin: 0;
    }
    @media #{$only-tablet} {
      padding: 16px;
    }
    @media #{$phone} {
      padding: 8px;
    }
  }

  &--main {
    margin-top: 64px;
  }

  &--relative {
    position: relative;
  }
}
