.footer {
  background-color: $black;
  color: $white;

  &__content {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
  }
  &__other-page {
    display: inline-block;
  }

  &__link {
    &:nth-child(n + 2) {
      margin-top: 8px;
    }
  }
}
